@import "../../style/variables.scss";

.randomchar {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  align-items: center;
  margin-bottom: 20px;
    @media (max-width: 768px) {
flex-direction: column;
  }

  .randomcharLeft {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 40px 35px;
    img {
      width: 180px;
      height: 180px;
      flex-basis: 37%;
    }
  }
  .randomcharInfo {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3px;
  }
  .randomcharName {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
  }
  .randomcharDescription {
    font-size: 14px;
   max-height: 50px;
    overflow-y: scroll;
  }
  .randomcharBtns {
    display: flex;
    justify-content: space-between;
  }
  .randomcharRight {
    flex-basis: 49%;
    padding: 40px 35px;
    background-color: $dark;
    position: relative;
    button {
      margin-top: 13px;
    }
    img {
      position: absolute;
      bottom: 14px;
      right: -37px;
    }
  }
  .randomcharTitle {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.045em;
    color: $white;
  }
}

